*{
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    text-align: center;
}

h2{
    background-color: aqua;
    padding: 20px;
    margin: 20px;
}

.html,.css,.JavaScript{
    display: block;
    justify-content: center;
}

.imagenes{
    width: 30vw;
    height: 25vh;
    padding: 30px;
}
.imagen-html,.imagen-css,.imagen-javascript{
    display: flex;
    justify-content: center;
}

#estilo:hover{
    transition: all 1s;
    width: 43vw;
    height: 30vh;
}

input{
    margin: 20px;
}

.prueba-javascript{
    display: flex;
    justify-content: center;
}

footer{
    width: 100vw;
    height: 50vh;
}

.logos{
    width: 12vw;
    height: 12vh;
}
a{
    display: flex;
    text-decoration: none;
}

@media (min-width: 720px){

    h2{
        background-color: aqua;
    }
    
    .html,.css,.JavaScript{
        display: block;
        text-align: center;
        justify-content: center;
    }
    
    .imagenes{
        width: 250px;
        height: 250px;
        padding: 40px;
    }
    .imagen-html,.imagen-css,.imagen-javascript{
        display: flex;
        justify-content: center;
    }
    
    #estilo:hover{
        transition: all 1s;
        width: 300px;
        height: 300px;
    }

    input{
        margin: 20px;
    }
    
    .prueba-javascript{
        display: flex;
        justify-content: center;
    }

    footer{
        width: 100vw;
        height: 50vh;
    }
    
    .logos{
        width: 120px;
        height: 120px;
    }
    a{
        display: flex;
        text-decoration: none;
    }
}
